@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
}

@media (min-width: 1025px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-wrap: wrap;
        -ms-flex-flow: row nowrap;
        flex-wrap: wrap;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .navbar-expand-lg .navbar-toggler {
        display: inherit;
    }
}

@media (min-width: 1025px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}